bert==2.2.0
bitsandbytes==0.42.0
datasets==2.15.0
fiftyone==0.23.4
glob2==0.7
gradio==4.15.0
gradio_client==0.8.1
ipykernel==6.27.1
ipython==8.12.3
llava==0.0.1.dev0
pandas==2.1.4
sacrebleu==1.5.0
safetensors==0.4.1
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
tqdm==4.66.1
transformers==4.36.0
wandb==0.16.2
